form-switch {
	.toggle {
		margin-left: auto;
		margin-right: auto;
		padding: 12px;
	}
	.list {
		margin-bottom: 20px;
	}
	.item-inner {
		flex-direction: column;
		padding: 0 !important;
	}
	.label {
		margin: 0 0 10px;
	}
	.list-md .item-block .item-inner {
		border: 0 !important;
	}
}
