<ion-header>

</ion-header>


<ion-content>
  <form class="login" [formGroup]="formLogin" (ngSubmit)="login()">
    <img src="assets/imgs/compass-group.jpg">
    <h3>Username</h3>
    <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
    <h3>Contraseña</h3>
    <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
    <div class="check">
      <ion-item>
        <ion-label>Aceptar</ion-label>
        <ion-checkbox formControlName="terms" color="primary"></ion-checkbox>
      </ion-item>

      <p (click)="openTermsConditions()"> terminos y condiciones</p>
    </div>
    <button class="submit" ion-button full type="submit">Ingresar</button>
    <p>
      Su usuario es el mismo que usa para ingresar al equipo de la oficina y su contraseña es su mismo usuario también.
    </p>
  </form>
  <button class="submit" ion-button full (click)="loginFb()" *ngIf="platform.is('ios')">Ingresar con Facebook</button>
  <br>
</ion-content>
