page-login {
	.login {
		min-height: 100vh;
		overflow: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 10%;
	}
	h3 {
		text-align: center;
		font-size: 1.3em;
		margin-bottom: 10px;
		font-weight: 400;
	}
	img {
		width: 80%;
		margin: 0 auto;
	}
	ion-input {
		flex: 0;
		margin-bottom: 20px;
		background: #f7f7e4;
		border: 0;
		height: 45px;
	}
	button.submit {
		border-radius: 10px !important;
		background: #bea04b !important;
		margin-top: 30px !important;
	}
	p {
		text-align: center;
		font-size: 1.1em;
		margin: 35px auto 0;
	}
	.check {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		color: #bea04b;
		.item {
			width: auto;
			padding-left: 0;
			.label {
				font-size: 1.5rem;
				margin-right: 4px;
			}
			.item-inner {
				padding: 0;
				border: 0;
			}
			.checkbox {
				margin: 9px 9px 9px 4px;
			}
		}

		p {
			font-size: 1.5rem;
			margin: 0;
			text-decoration: underline;
		}
	}
}
