inspection-alert {
	background: white;
	.toolbar {
		&-background {
			background: #bea04b;
		}
	}
	.scroll-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	img {
		width: 85%;
		margin: 0 auto;
		display: block;
	}
	p {
		color: #898989;
		position: relative;
		top: -30px;
		margin-bottom: 0;
		font-size: 17px;
	}
	button {
		width: 80%;
		margin: 0 auto;
		border-radius: 6px !important;
		&.btn__pdf {
			margin-top: 18px;
			background: #4D394B;
			.text {
				margin-right: 8px;
			}
		}
	}
}
