<ion-content padding>
  <img src="assets/imgs/compass-group.jpg" alt="">
  <p>La inspección se ha guardado exitosamente</p>
  <button ion-button class="btn__init" (click)="confirm()">Aceptar</button>

  <button ion-button class="btn__pdf" *ngIf="!pdfObject && responsesInspection" (click)="generatePDF()">
    <span class="text">Generar PDF</span>
    <ion-icon name="document"></ion-icon>
  </button>

  <button ion-button class="btn__pdf" *ngIf="pdfObject && responsesInspection" (click)="openPDF()">
    <span class="text">Ver PDF</span>
    <ion-icon name="document"></ion-icon>
  </button>
</ion-content>