form-image {
	text-align: center;
	button {
		height: auto !important;
		padding: 3px 1em !important;
		ion-icon {
			margin-right: 12px;
			font-size: 32px
		}
	}
	.swiper-slide {
		height: 90px;
		overflow: hidden;
	}
	.loading {
		margin-top: 20px;
	}
	.slide-zoom {
		height: 100%;
	}
	.item {
		background-position: center;
	}
}
