form-data-time {
	position: relative;
	.list {
		margin-bottom: 0;
	}

	.date {
		.input-wrapper {
			padding: 10px 10px;
			border-radius: 9px;
			background: #f7f7e4;
		}
	}
	.inspections__label {
		margin-bottom: 15px;
	}
	.input-wrapper {
		flex-direction: column;
		.label {
			margin: 0 0 10px;
		}
		.datetime {
			padding: 12px 12px 0;
		}
	}
}
