multiple-selection {
	background: white;
	padding: 25px;
	p {
		margin-bottom: 10px;
		margin-top: 40px;
		font-size: 16px;
	}
	ion-icon {
		font-size: 30px;
		position: absolute;
		right: 20px;
		color: #e2e2e2;
	}
	ion-label {
		white-space: normal;
		font-weight: normal !important;
	}
	.button {
		border-radius: 10px !important;
	}
}
