<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
<p>Seleccione su opción:</p>
<div>
  <ion-list no-lines>
    <ion-item *ngFor="let item of options">
      <ion-label class="inspections__label">{{ item.label }}</ion-label>
      <ion-checkbox [(ngModel)]="item.checked" (ionChange)="changeSelection(item, $event)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="dismiss()">Continuar</button>
</div>