<ion-header>
  <ion-toolbar>
    <ion-title>Notas</ion-title>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="list">
    <div class="box" *ngFor="let comment of comments">
      <p>{{comment.description}}</p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <form [formGroup]="formObservation" (ngSubmit)="addComment()">
    <input formControlName="item_code" style="display:none;">
    <input formControlName="inspection_id" style="display:none;">
    <ion-input [(ngModel)]="description" formControlName="description" name="comment" type="text" placeholder="Escribir un comentario..."></ion-input>
    <button type="submit">
      <ion-icon name="send"></ion-icon>
    </button>
  </form>
</ion-footer>