action-modal-comments {
	background: white;
	.toolbar-background {
		background: #bea04b;
	}
  .toolbar-title {
    padding-left: 0;
  }
	.bar-buttons .button-inner {
    color: white;
		font-size: 18px;
		margin-left: 10px
	}
	.list {
		padding: 20px;
		h5 {
			text-align: center;
			font-size: 17px;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		.box {
			border: 1px solid #f1f1f1;
			padding: 12px 10px;
			margin-bottom: 12px;
			border-radius: 6px;
			box-shadow: -1px 0px 3px -1px rgba(138,138,138,1);
			p {
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	ion-footer{
		form {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 12px 8px;
			background: #e3e3e3;
		}
		ion-input {
			border-radius: 5px;
			padding: 0px 10px;
			background: #f7f7e4;
		}
		button {
			width: 40px;
			height: 40px;
			background: #bea04b;
			border-radius: 50%;
			margin: 0;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 12px;
			font-size: 20px;
			box-shadow: -1px 0px 5px 0px rgba(179,173,179,1);
		}
	}
}
