attachments {
	position: absolute;
	bottom: 0;
	z-index: 99999;
	left: 0;
	right: 0;
	.attachments {
		overflow: hidden;
		&__bar {
			border-radius: 0 0 5px 5px;
			overflow: hidden;
			height: 45px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: white;
			transition: .5s;
			padding-right: 10px;
			background: #f1f1f1;
			.right {
				list-style: none;
				display: flex;
				align-items: center;
				justify-content: space-around;
				padding: 0;
				width: 100%;
				transition: .5s;
				transform: translateX(0);
				margin: 0;
				height: 100%;
				&.active {
					transform: translateX(1000px);
				}
				li {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					width: 33.3%;
					position: relative;
					ion-icon {
						font-size: 22px;
						margin: 0 8px;
						position: relative;
					}
					p {
						font-size: 11px;
						color: #888;
						display: flex;
						align-items: center;
					}
					.badge {
						width: 19px;
						height: 19px;
						border-radius: 50%;
						background: #9c9999;
						display: flex;
						align-items: center;
						justify-content: center;
						font-weight: bold;
						margin-left: 6px;
						color: white;
						font-size: 10px;
						position: absolute;
						left: -30px;
						top: -6px;
					}
				}
				@media screen and (max-width: 386px) {
					li {
						flex-direction: column;
						.badge {
							top: -1px;
						}
					}
				}
			}
			ion-icon {
				font-size: 26px;
				color: #bbb8b8;
				&.clip {
					transform: translateX(0);
					transition: .5s;
					&.inactive {
						transform: translateX(-60px);
					}
				}
				&.arrow {
					transform: translateX(-60px);
					transition: .5s;
					// margin-left: -15px;
					&.active {
						transform: translateX(0);
					}
				}
			}
		}
	}
}
