<div class="attachments__bar">
  <ul class="right">
    <li (click)="openModalActions()">
      <ion-icon name="construct">
        <span class="badge" *ngIf="lengthAction > 0">{{lengthAction}}</span>
      </ion-icon>
      <p>Acciones</p>
    </li>
    <li (click)="openModalComments()">
      <ion-icon name="list-box">
        <span class="badge" *ngIf="lengthObservations > 0">{{lengthObservations}}</span>
      </ion-icon>
      <p>Notas</p>
    </li>
    <li (click)="openModalImages()">
      <ion-icon name="camera">
        <span class="badge" *ngIf="lengthImages > 0">{{lengthImages}}</span>
      </ion-icon>
      <p>Imagenes</p>
    </li>
  </ul>
</div>
