<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <span class="menu__btn cg-ico_menu"></span>
    </button>
    <ion-title>Inspecciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="getInspections($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="inspections__search">
    <ion-input type="text" placeholder="Buscar" [formControl]="search" [(ngModel)]="searchText"></ion-input>
  </div>
  <div class="inspections__result" *ngIf="notInspections">
    <p class="inspections__result--text">
      No tiene inspecciones asignadas
    </p>
  </div>
  <!-- <button ion-button full (click)="clear()">
    clear inspections local
  </button>
  <button ion-button full (click)="clearSchedule()">
    clear schedule local
  </button> -->
  <div *ngFor="let inspection of inspections | filterList: searchText:'inspection'">
    <ion-card class="inspections__card" (click)="goToForm(inspection)">
      <div class="card__title brown__backg">
        <i class="fas fa-check-circle"></i>
        <span *ngIf="!inspection.scheduled">{{inspection.template.title}}</span>
        <span *ngIf="inspection.scheduled">{{inspection.scheduled.title}}</span>
        <!-- <span> - {{ inspection.id}}</span> -->
      </div>
      <ion-card-content text-center>
        <p><strong>Inicio: </strong> {{inspection.start_at | date:'shortDate'}} - <strong>Vence: </strong>
          {{inspection.expired_at | date:'shortDate'}}</p>
        <p class="update">Actualizada {{inspection.updated_at | amCalendar}}</p>
      </ion-card-content>
      <div class="card__bottom">{{inspection.state.title | state}}</div>
    </ion-card>
  </div>
</ion-content>