page-home {
	.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
		bottom: -22px;
	}
	.swiper-container {
		overflow: visible;
	}
	.swiper-pagination-bullet-active {
		background: #bea04b;
	}
}

.schedule {
	ion-slides {
		ion-slide {
			border: 1px solid #d0cccc;
			border-radius: 5px;
			min-height: 131px;
			// margin: 0 5px;
			// width: 50% !important;
			.slide-zoom {
				padding: 12px 14px;
				h3 {
					margin-bottom: 10px;
					font-size: 1em;
					display: flex;
					align-items: center;
					justify-content: center;
					.icon {
						margin-left: 8px;
						color: #666;
						position: relative;
						top: 2px;
					}
				}
				p {
					font-size: .95em;
					color: #3c3c3c;
				}
			}
		}
	}
	// ul {
	// 	width: 100%;
	// 	display: flex;
	// 	justify-content: space-evenly;
	// 	overflow: auto;
	// 	padding: 0;
	// 	li {
	// 		list-style: none;
	// 		padding: 15px;
	// 		width: 50%;
	// 		min-width: 50vw;
	// 		border: 1px solid #f1f1f1;
	// 		border-radius: 5px;
	// 	}
	// }
}
