<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <span class="menu__btn cg-ico_menu"></span>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="refresher($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="schedule">

    <h3 class="title">Inspecciones para hoy</h3>
    <ion-slides slidesPerView="2" spaceBetween="5">
      <ion-slide *ngFor="let schedule of scheduled" (click)="openPreviewInspection(schedule)">
        <h3>{{schedule.title}}</h3>
        <p>{{schedule.end | date:'shortDate'}}</p>
        <p>{{schedule.state | state}}</p>
      </ion-slide>
      <ion-slide class="inspections__result--text" *ngIf="notScheduled">
        <p>No tienes inspecciones asignadas para hoy</p>
      </ion-slide>
      <ion-slide (click)="getAllSchedules()">
        <h3>Ver todas <ion-icon name="arrow-forward"></ion-icon></h3>
      </ion-slide>
    </ion-slides>

    <div class="line"></div>

    <h3 class="title">Acciones</h3>
    <div class="inspections__result" *ngIf="notActions">
      <p class="inspections__result--text">
        No tienes acciones asignadas para los proximos días
      </p>
    </div>
    <div *ngFor="let action of actions">
      <inspection-action [action]="action"></inspection-action>
    </div>
  </div>
</ion-content>
