<ion-header>
  <ion-toolbar>
    <ion-title>{{data.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p class=title>Inspección</p>
  <div class="item">
    <div class="key">Nombre:</div>
    <p>{{data.title}}</p>
  </div>
  <div class="item">
    <div class="key">Disponibilidad:</div>
    <p>{{data.end | amCalendar}}</p>
  </div>
  <div class="buttons">
    <button ion-button class="btn__cancel" (click)="dismiss()">Cancelar</button>
    <button ion-button class="btn__init" #btnConfirm (click)="prepareInspection()">{{buttonAction}}</button>
  </div>
</ion-content>