preview-inspection {
	.key {
		font-weight: bold;
	}
	.item {
		margin-bottom: 15px;
	}
	p {
		font-size: 1.4rem;
		margin-top: 6px;
		&.title {
			margin-bottom: 18px;
		}
	}
	.buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 25px;
		.btn__cancel {
			width: 48%;
			background: #bab5a0;
		}
		.btn__init {
			width: 48%;
			background: #bd9c52;

		}
	}
	.scroll-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.toolbar-title {
		text-overflow: initial;
	}
	ion-title.title {
		padding: 0 20px 1px;
	}
}
