page-action-detail {
	ion-input {
		border-radius: 9px;
		padding: 4px 10px;
		background: #f7f7e4;
	}
	h5 {
		text-align: center;
		font-size: 17px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.actionState {
		margin-top: 18px;
		margin-bottom: 18px;
		p {
			margin-bottom: 14px;
		}
	}
	.box {
		border: 1px solid #f1f1f1;
		padding: 16px 10px;
		margin-bottom: 12px;
		border-radius: 6px;
		box-shadow: -1px 0px 3px -1px rgba(138,138,138,1);
		position: relative;
		.user {
			font-weight: bold;
			margin-bottom: 6px;
		}
		.date {
			position: absolute;
			bottom: 3px;
			right: 5px;
			color: #6f6d6d;
			font-size: 13px;
		}
		p {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
			.bold {
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
	.actions {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		button {
			width: 100%;
			background: transparent;
			color: black;
			border-radius: 3px !important;
			height: 42px;
			font-size: 1em;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 5px 0;
			text-transform: capitalize;
			&:hover {
				background: none !important;
			}
			ion-icon {
				font-size: 22px;
				margin: 0 16px 0 0;
			}
			&.state {
				border: 1px solid green;
				ion-icon {
					color: green;
				}
				margin-bottom: 15px;
			}
			&.remove {
				border: 1px solid red;
				ion-icon {
					color: red;
				}
			}
		}
	}
	ion-footer{
		.toolbar {
			padding: 12px 8px;
		}
		.toolbar-background {
			background: #e3e3e3;
			border: 0;
		}
		.toolbar-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 8px;
		}
		ion-input {
			border-radius: 5px;
			padding: 0px 10px;
			background: #f7f7e4;
		}
		button {
			width: 40px;
			height: 40px;
			background: #bea04b;
			border-radius: 50%;
			margin: 0;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 12px;
			font-size: 20px;
			box-shadow: -1px 0px 5px 0px rgba(179,173,179,1);
		}
		form {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 12px 8px;
			background: #e3e3e3;
		}
	}
	.bar-buttons .button-inner {
		font-size: 18px;
		margin-left: 10px
	}
	button.list {
		text-align: center;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		width: 60px;
		height: 38px;
		border: 1px solid white;
		border-radius: 3px;
		margin-right: 18px;
		.button-inner {
			margin: 0;
		}
		ion-icon {
			color: white;
			font-size: 20px;
		}
	}
}
