<ion-header>
  <ion-navbar>
    <ion-title>Acción</ion-title>
    <ion-buttons right *ngIf="unlockEditAction">
    <!-- <ion-buttons right> -->
      <button class="list" ion-button (click)="editAction()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="action">
    <h5>{{action.description}}</h5>
    <div class="box">
      <p>Asignado: {{action.assigned.name}}</p>
      <p>Prioridad: {{action.priority | state}}</p>
      <p>Estado: <span>{{actionState}}</span></p>
      <p>Fecha vencimiento: {{action.date_time_end | date: 'short'}}</p>
    </div>

    <div class="actions">
      <button ion-button class="state" (click)="presentActionStateSheet()">
        <ion-icon name="sync"></ion-icon>
        <p>Cambiar estado de la acción</p>
      </button>
      <!-- <button ion-button class="remove" (click)="removeAction()">
        <ion-icon name="trash"></ion-icon>
        <p>Eliminar</p>
      </button> -->
    </div>

    <h5>Historial de Comentarios</h5>
    <div *ngIf="comments">
      <div class="box" *ngFor="let comment of comments">
        <div class="user">{{comment.user?.name}}</div>
        <p>{{comment.body}}</p>
        <div class="date">{{comment.created_at | date: 'short'}}</div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <form [formGroup]="formComment" (ngSubmit)="addComment()">
    <ion-input formControlName="action_id" style="display: none;"></ion-input>
    <ion-input formControlName="created_at" style="display: none;"></ion-input>
    <ion-input formControlName="body" type="text" placeholder="Escribir un comentario..."></ion-input>
    <button type="submit">
      <ion-icon name="send"></ion-icon>
    </button>
  </form>
</ion-footer>