form-video {
	text-align: center;
	button {
		height: auto !important;
		padding: 3px 1em !important;
		ion-icon {
			margin-right: 12px;
			font-size: 32px
		}
	}
	.swiper-slide {
		height: 90px;
		overflow: hidden;
	}
	.loading {
		margin-top: 20px;
	}
	ion-slides {
	}
	.slide-zoom {
		height: 100%;
	}
	.image {
		border: 1px solid #c5c0c0;
		border-radius: 2px;
		width: 100%;
		height: 100%;
		background-size: cover;
	}
	.item {
		background-position: center;
	}
	li.video {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		.play {
			position: absolute;
			background: url('../../assets/imgs/play.png');
			background-size: contain;
			width: 60px;
			height: 60px;
		}
	}
	.inspections__gallery {
		display: flex;
		justify-content: space-between;
	}
}
