page-new-inspection {

	.inspections__card {
		.card__title {
			justify-content: center;
		}
		button {
			width: 116px;
			height: 2.5em;
		}
	}
	ion-input {
		border-radius: 9px;
  	padding: 4px 10px;
  	background: #f7f7e4;
	}
	ion-label {
		font-size: 16px;
		margin-bottom: 15px !important;
	}
}
