<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <span class="menu__btn cg-ico_menu"></span>
    </button>
    <ion-title>Crear Inspección</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="getTemplates($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="inspections__search">
    <ion-input type="text" placeholder="Buscar" [(ngModel)]="searchText"></ion-input>
  </div>
  <div class="inspections__result" *ngIf="notTemplates">
    <p class="inspections__result--text">
      No hay plantillas disponibles
    </p>
  </div>
  <ion-label *ngIf="templates.length > 0">Por favor seleccione una plantilla</ion-label>
  <div *ngFor="let template of templates | filterList: searchText:'template'">
    <ion-card class="inspections__card" (click)="openPreviewInspection(template)">
      <div class="card__title brown__backg">{{template.title}}</div>
      <ion-card-content text-center>
        <p>{{template.description || 'Plantilla sin descripción'}}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>