// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700');

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.toolbar-background {
	background: black;
}
.toolbar-title {
	color: white;
  font-size: 1.3em;
  text-align: center;
}
.bar-buttons {
	.button-inner {
		color: #bea04b;
	}
}

.red {
	&__backg {
		background: #ec595f;
	}
	&__color {
		color: #ec595f;
	}
}

.orange {
	&__backg {
		background: #f9a750;
	}
	&__color {
		color: #f9a750;
	}
}

.brown {
	&__backg {
		background: #bea04b;
	}
	&__color {
		color: #bea04b;
	}
}

.marine {
	&__backg {
		background: #70ddaf;
	}
	&__color {
		color: #70ddaf;
	}
}

.success {
	&__color {
		color: #55a01f;
	}
}

.back-button {
	&-icon {
		color: #bea04b;
	}
	&-text {
		display: none;
	}
}

.line {
	border: 1px solid #d4d1d1;
	margin-top: 30px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

h3.title {
	margin: 18px 0;
	text-align: center;
	font-size: 2rem;
}
h4.subtitle {
	margin: 15px 0;
	font-size: 1.9rem;
	color: #5a5a5a;
	font-weight: 400;
}

ion-navbar {
  .title {
    padding: 0 0 0;
    padding-left: 0;
    .toolbar-title {
      position: relative;
      left: -13px;
      padding-left: 0;
    }
  }
}

.userActual {
  text-align: center;
  font-size: 13px;
}

.inspections {
	&__box {
		border-radius: 5px;
		border: 1px solid #d2d2d2;
		padding: 15px 15px 60px;
		box-shadow: -11px -11px 9px -13px #a29c9c;
    margin: 20px;
    position: relative;
    text-align: center;
    &.invalid {
      // box-shadow: 0px 0px 5px 0px #e84c4c;
    }
		&--title {
			text-align: center;
			font-weight: bold;
			margin-bottom: 18px;
		}
		.label {
			margin-top: 0;
			text-align: center;
			font-weight: bold;
			color: black;
    }
    > p {
      font-weight: bold;
      margin-bottom: 15px;
    }
    button {
      margin-bottom: 12px;
    }
	}
	&__card {
		background: #ececec;
		border-radius: 9px;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		.card {
			&-content {
				margin: 0 2px 1px;
				background: white;
				padding: 15px 8px;
				color: #3c3c3c;
				font-size: 1.2em;
				border-radius: 0 0 8px 8px;
				span.bold {
					font-weight: bold;
				}
				p {
					margin-bottom: 5px;
				}
				i {
					font-size: 2.6rem;
				}
			}
			&__title {
				display: flex;
				align-items: center;
				padding: 9px 12px 9px 12px;
				border-radius: 6px;
				color: white;
				font-weight: bold;
				font-size: 1.17em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
        width: 100%;
        white-space: normal;
        text-align: center;
				i {
					margin-right: 10px;
					font-size: 2.1rem;
				}
			}
			&__bottom {
				padding: 6px 18px 4px;
				color: gray;
				text-align: right;
				font-size: 1.2em;
				font-weight: 3.0;
			}
		}
  }
  &__gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    * {
      box-sizing: border-box;
    }
    li {
      display: inline-block;
      width: 24%;
      height: 24vw;
      position: relative;
      margin: .5% .5% 0;
      .item {
        border: 1px solid #c5c0c0;
        border-radius: 2px;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
      .exit {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        color: white;
        font-size: 28px;
      }
    }
    @media screen and (max-width: 680px) {
      li {
        width: 32.4%;
        height: 29vw;;
        margin: .4% .4% 0;
      }
    }
    @media screen and (max-width: 540px) {
      li {
        width: 48%;
        height: 40vw;
        margin: 1% 1% 0;
      }
    }
  }
  &__label {
    font-weight: bold;
    white-space: normal;
    color: black !important;
    text-align: center;
    width: 100% !important;
    max-width: 100% !important;
  }
  &__menu {
    padding-top: 30px;
    img {
      width: 60%;
      margin: 0 auto;
      display: block;
    }
    .item {
      padding-left: 20px;
      .label {
        display: flex;
        align-items: center;
        color: black;
        font-size: 1.4rem;
        font-weight: 500;
      }
      .icon {
        color: #bea04b;
        font-size: 35px;
        margin-right: 18px;
      }
      .menu__item {
        color: #bea04b;
        font-size: 25px;
        margin-right: 18px;
      }
    }
  }
  &__result {
    height: 131px;
    border: 1px solid #d4cdcd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
    &--text {
      color: #636060;
      font-size: 14px;
    }
  }
  &__search {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-input {
      width: 100%;
      height: 45px;
    }
    button {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: #bea04b;
    }
  }
}

ion-input, ion-textarea {
	border-radius: 9px;
	padding: 0 15px;
}

.modal {
  &__alert {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.2);
    .modal-wrapper {
      max-width: 300px;
      min-height: 390px;
      width: 80%;
      height: auto;
      border-radius: 8px;
      box-shadow: -1px 0px 5px 0px rgba(43,43,43,1);
      text-align: center;
    }
  }
  &__terms {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.2);
    .modal-wrapper {
      width: 90vw;
      height: 90vh;
      border-radius: 8px;
      box-shadow: -1px 0px 5px 0px rgba(43,43,43,1);
      text-align: center;
    }
  }
  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.2);
    .modal-wrapper {
      max-width: 300px;
      min-height: 320px;
      width: 80%;
      height: auto;
      border-radius: 8px;
      box-shadow: -1px 0px 5px 0px rgba(43,43,43,1);
      .toolbar-background {
        background: #bea04b;
        border-radius: 4px;
        border: 0;
      }
    }
  }
}

.menu__btn {
	font-size: 26px
}

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?y4njo8');
  src:  url('../assets/fonts/icomoon.eot?y4njo8#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?y4njo8') format('truetype'),
    url('../assets/fonts/icomoon.woff?y4njo8') format('woff'),
    url('../assets/fonts/icomoon.svg?y4njo8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cg-"], [class*=" cg-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cg-Logo_Color_Compass_splash .path1:before {
  content: "\e900";
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_splash .path2:before {
  content: "\e901";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_splash .path3:before {
  content: "\e902";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_splash .path4:before {
  content: "\e903";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_splash .path5:before {
  content: "\e904";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_splash .path6:before {
  content: "\e905";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_splash .path7:before {
  content: "\e906";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_splash .path8:before {
  content: "\e907";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_splash .path9:before {
  content: "\e908";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_splash .path10:before {
  content: "\e909";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_splash .path11:before {
  content: "\e90a";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_splash .path12:before {
  content: "\e90b";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_modales .path1:before {
  content: "\e90c";
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_modales .path2:before {
  content: "\e90d";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_modales .path3:before {
  content: "\e90e";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_modales .path4:before {
  content: "\e90f";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_modales .path5:before {
  content: "\e910";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_modales .path6:before {
  content: "\e911";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_modales .path7:before {
  content: "\e912";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_modales .path8:before {
  content: "\e913";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_modales .path9:before {
  content: "\e914";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_modales .path10:before {
  content: "\e915";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_modales .path11:before {
  content: "\e916";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_modales .path12:before {
  content: "\e917";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_menu .path1:before {
  content: "\e918";
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_menu .path2:before {
  content: "\e919";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_menu .path3:before {
  content: "\e91a";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_menu .path4:before {
  content: "\e91b";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_menu .path5:before {
  content: "\e91c";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_menu .path6:before {
  content: "\e91d";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_menu .path7:before {
  content: "\e91e";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_menu .path8:before {
  content: "\e91f";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_menu .path9:before {
  content: "\e920";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_menu .path10:before {
  content: "\e921";
  margin-left: -2.62109375em;
  color: rgb(189, 156, 82);
}
.cg-Logo_Color_Compass_menu .path11:before {
  content: "\e922";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Logo_Color_Compass_menu .path12:before {
  content: "\e923";
  margin-left: -2.62109375em;
  color: rgb(0, 0, 0);
}
.cg-Icono_Fecha:before {
  content: "\e924";
  color: #d3d3d3;
}
.cg-icono_caneca_blanco:before {
  content: "\e925";
  color: #fff;
}
.cg-ico_menu:before {
  content: "\e926";
  color: #bd9c52;
}
.cg-ico_lupa:before {
  content: "\e927";
  color: #ededed;
}
.cg-ico_search:before {
  content: "\e928";
  color: #bd9c52;
}
.cg-ico_incompleta:before {
  content: "\e929";
  color: #fff;
}
.cg-ico_flecha_gris:before {
  content: "\e92a";
  color: #b1b1b1;
}
.cg-ico_flecha_dorada:before {
  content: "\e92b";
  color: #bd9c52;
}
.cg-ico_filtro .path1:before {
  content: "\e92c";
  color: rgb(189, 156, 82);
}
.cg-ico_filtro .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cg-ico_descendente .path1:before {
  content: "\e92e";
  color: rgb(255, 255, 255);
}
.cg-ico_descendente .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.cg-ico_cronograma_menu:before {
  content: "\e930";
  color: #bd9c52;
}
.cg-ico_crear_inspec_menu:before {
  content: "\e931";
  color: #bd9c52;
}
.cg-ico_completada:before {
  content: "\e932";
  color: #fff;
}
.cg-ico_cerrar_sesion_menu:before {
  content: "\e933";
  color: #bd9c52;
}
.cg-ico_Cerrar_modal:before {
  content: "\e934";
  color: #b1b1b1;
}
.cg-ico_camara:before {
  content: "\e935";
  color: #fff;
}
.cg-ico_ascendente .path1:before {
  content: "\e936";
  color: rgb(255, 255, 255);
}
.cg-ico_ascendente .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.cg-ico_advertencia:before {
  content: "\e938";
  color: #fff;
}
.cg-ico_adjuntar:before {
  content: "\e939";
  color: #d3d3d3;
}
.cg-ico_acciones_menu:before {
  content: "\e93a";
  color: #bd9c52;
}
.cg-flecha_atras_gris:before {
  content: "\e93b";
  color: #939393;
}
.cg-flecha_atras:before {
  content: "\e93c";
  color: #bd9c52;
}
.cg-btn_Nota .path1:before {
  content: "\e93d";
  color: rgb(147, 147, 147);
}
.cg-btn_Nota .path2:before {
  content: "\e93e";
  margin-left: -3.708984375em;
  color: rgb(147, 147, 147);
}
.cg-btn_Nota .path3:before {
  content: "\e93f";
  margin-left: -3.708984375em;
  color: rgb(147, 147, 147);
}
.cg-btn_Nota .path4:before {
  content: "\e940";
  margin-left: -3.708984375em;
  color: rgb(147, 147, 147);
}
.cg-btn_Nota .path5:before {
  content: "\e941";
  margin-left: -3.708984375em;
  color: rgb(147, 147, 147);
}
.cg-btn_Nota .path6:before {
  content: "\e942";
  margin-left: -3.708984375em;
  color: rgb(147, 147, 147);
}
.cg-btn_Nota .path7:before {
  content: "\e943";
  margin-left: -3.708984375em;
  color: rgb(241, 241, 241);
}
.cg-btn_Nota .path8:before {
  content: "\e944";
  margin-left: -3.708984375em;
  color: rgb(147, 147, 147);
}
.cg-btn_menu:before {
  content: "\e945";
  color: #bd9c52;
}
.cg-btn_Foto .path1:before {
  content: "\e946";
  color: rgb(147, 147, 147);
}
.cg-btn_Foto .path2:before {
  content: "\e947";
  margin-left: -3.3779296875em;
  color: rgb(241, 241, 241);
}
.cg-btn_Foto .path3:before {
  content: "\e948";
  margin-left: -3.3779296875em;
  color: rgb(147, 147, 147);
}
.cg-btn_enviar_comentario .path1:before {
  content: "\e949";
  color: rgb(189, 156, 82);
}
.cg-btn_enviar_comentario .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cg-btn_adjuntar:before {
  content: "\e94b";
  color: #d3d3d3;
}
.cg-btn_acciones .path1:before {
  content: "\e94c";
  color: rgb(211, 211, 211);
}
.cg-btn_acciones .path2:before {
  content: "\e94d";
  margin-left: -3.1943359375em;
  color: rgb(147, 147, 147);
}
.cg-btn_acciones .path3:before {
  content: "\e94e";
  margin-left: -3.1943359375em;
  color: rgb(211, 211, 211);
}
.cg-btn_acciones .path4:before {
  content: "\e94f";
  margin-left: -3.1943359375em;
  color: rgb(211, 211, 211);
}
.cg-btn_acciones .path5:before {
  content: "\e950";
  margin-left: -3.1943359375em;
  color: rgb(241, 241, 241);
}
.cg-btn_acciones .path6:before {
  content: "\e951";
  margin-left: -3.1943359375em;
  color: rgb(147, 147, 147);
}
