<ion-menu [content]="content" type="overlay">
  <ion-content>
    <div class="inspections__menu">
      <img src="assets/imgs/compass-group.jpg" alt="">
      <p class="userActual">{{currentUser?.username}} - {{currentUser?.name}}</p>
      <ion-list no-lines>
        <button menuClose ion-item (click)="openPage('dashboard')">
          <ion-icon name="home"></ion-icon>
          DASHBOARD
        </button>
        <button menuClose ion-item (click)="openPage('new')">
          <span class="menu__item cg-ico_crear_inspec_menu"></span>
          CREAR INSPECCIÓN
        </button>
        <button menuClose ion-item (click)="openPage('schedule')">
          <span class="menu__item cg-ico_cronograma_menu"></span>
          CRONOGRAMA
        </button>
        <button menuClose ion-item (click)="openPage('inspections')">
          <span class="menu__item cg-ico_search"></span>
          INSPECCIONES
        </button>
        <button menuClose ion-item (click)="openPage('actions')">
          <span class="menu__item cg-ico_acciones_menu"></span>
          ACCIONES
        </button>
        <button menuClose ion-item (click)="logout()">
          <span class="menu__item cg-ico_cerrar_sesion_menu"></span>
          SALIR
        </button>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>