expandable {
	.expand-wrapper {
		transition: 0.4s linear;
		overflow: hidden;
	}

	.collapsed {
		transition: 0.4s linear;
		height: 0 !important;
	}

	.title {
		background: #bea04b;
		color: white;
		font-weight: 500;
		font-size: 17px;
		width: 95%;
		padding: 8px 18px;
		border-radius: 9px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
		display: flex;
		justify-content: space-between;
		align-items: center;
		ion-icon {
			color: white;
			transition: .3s linear;
			font-size: 22px;
			&.active {
				transform: rotate(-90deg);
			}
		}
	}
}