<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <span class="menu__btn cg-ico_menu"></span>
    </button>
    <ion-title>Cronograma</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="getSchedules($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="inspections__result" *ngIf="notScheduled">
    <p class="inspections__result--text">
      No tienes nada asignado
    </p>
  </div>
  <div *ngFor="let schedule of scheduled">
    <ion-card class="inspections__card" (click)="openPreviewInspection(schedule)">
      <div class="card__title brown__backg">
        <i class="fas fa-check-circle"></i>
         {{schedule.title}}
      </div>
      <ion-card-content text-center>
        <p><strong>Inicio: </strong> {{schedule.start | date:'shortDate'}} - <strong>Vence: </strong> {{schedule.end | date:'shortDate'}}</p>
        <p>{{schedule.description || 'sin descripción'}}</p>
      </ion-card-content>
      <div class="card__bottom">{{schedule.state | state}}</div>
    </ion-card>
  </div>
</ion-content>
