<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <span class="menu__btn cg-ico_menu"></span>
    </button>
    <ion-title>Acciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="getAllActions($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="inspections__search">
    <ion-input type="text" placeholder="Buscar" [(ngModel)]="searchText"></ion-input>
  </div>

  <div padding>
    <ion-segment [(ngModel)]="filterAction">
      <ion-segment-button value="assigned">
        Asignadas
      </ion-segment-button>
      <ion-segment-button value="created">
        Creadas
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="filterAction">
    <ion-list *ngSwitchCase="'assigned'">
      <div class="inspections__result" *ngIf="notActions">
        <p class="inspections__result--text">
          No existen acciones asignadas por usted
        </p>
      </div>
      <ion-item>
        <div *ngFor="let action of actions | filterList: searchText:'action'">
          <inspection-action [action]="action"></inspection-action>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'created'">
      <div class="inspections__result" *ngIf="notMyActions">
        <p class="inspections__result--text">
          No existen acciones creadas por usted
        </p>
      </div>
      <ion-item>
        <div *ngFor="let action of myActions | filterList: searchText:'action'">
          <inspection-action [action]="action"></inspection-action>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
