inspection-action {
	.bold {
		text-transform: uppercase;
		font-weight: bold;
	}
	.card {
		&__title {
			position: relative;
			> div {
				width: calc(100% - 50px);
				text-align: left;
			}
			button {
				height: 38px;
				position: absolute;
				right: 0;
				background: none;
				box-shadow: none;
				margin: 0;
				padding: 0 12px !important;
				top: 0;
				z-index: 999;
				display: none;
			}
		}
	}
}
