<ion-card class="inspections__card" (click)="goToActionDetail(action.id)">
  <div class="card__title" [priority]="action.priority + '-bg'" [class]="">
    <div>{{action.description}}</div>
    <button ion-button icon-only >
      <ion-icon name="more"></ion-icon>
    </button>
  </div>
  <ion-card-content>
    <p>Asignado a: {{action.assigned?.name  || action.assigned_user_id}}</p>
    <p><strong>Inicio: </strong> {{action.created_at | date:'shortDate'}} - <strong>Vence: </strong>{{action.date_time_end | date:'shortDate'}}</p>

    <p>Prioridad:
      <span class="bold" [priority]="action.priority + '-cl'">{{action.priority | uppercase | state}}</span>
    </p>
  </ion-card-content>
  <div class="card__bottom">{{action.states_actions_id | state}}</div>
</ion-card>