<ion-header>
  <ion-toolbar>
    <ion-title>Imagenes</ion-title>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <div class="loading">
        <ion-spinner *ngIf="loadingPhotos"></ion-spinner>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ul class="inspections__gallery">
    <li *ngFor="let image of images">
      <div class="item" imageViewer="{{image.original_file}}" [ngStyle]="{'background-image': 'url('+image.thumbnail+')'}"></div>
      <ion-icon name="close-circle" class="exit" (click)="removeImage(image)"></ion-icon>
    </li>
  </ul>
</ion-content>

<ion-footer>
  <button ion-button full color="primary" (click)="openSheetPhoto()">Agregar foto</button>
</ion-footer>