action-modal-images {
	background: white;
	.toolbar-background {
		background: #bea04b;
	}
  .toolbar-title {
    padding-left: 0;
  }
	.bar-buttons .button-inner {
    color: white;
		font-size: 18px;
		margin-left: 10px
	}
	.spinner {
		margin-right: 20px;
		circle {
			stroke: white;
		}
	}
	.footer {
		text-align: center;
		button {
			width: 98%;
			margin: 0 auto;
			padding: 0;
			margin-bottom: 6px;
		}
	}
	.list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			width: 49%;
			height: 42vw;
			border: 1px solid #f1f1f1;
			margin-bottom: 1vw;
		}
	}
}
