<ion-header>
  <ion-toolbar>
    <ion-title>Términos y condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Autorizo de manera voluntaria, previa, expresa e informada a la Sociedad COMPASS GROUP SERVICES COLOMBIA S.A.,
    identificada con el Nit No. 890.929.877 - 1, domiciliada en la Autopista Norte No 235-71 Costado Occidental de la
    ciudad de Bogotá - Colombia, para tratar mi información personal y ubicación GPS (por sus iniciales en inglés Global
    Positioning System), de acuerdo con lo dispuesto en la Ley 1581 de 2012, el Decreto Único 1074 de 2015 y la política de
    tratamiento de datos personales de COMPASS GROUP SERVICES, disponible en www.compass-group.com.co, Información que será
    utilizada en el desarrollo y funciones propias de cualquier actividad concerniente o relacionada con inspecciones y
    diligenciamiento de formularios, publicidad, mercadeo, actividades comerciales, entre otras, relacionadas con el objeto
    social de Compass, lo anterior para dar cumplimiento a las obligaciones contraídas en razón a la prestación de
    servicios y venta de productos que realiza COMPASS GROUP SERVICES directamente o a través de empresas aliadas, así como
    para las finalidades enunciadas en nuestra política de tratamiento de datos personales.
  </p>
  <p>
    Los derechos a conocer, actualizar, rectificar y suprimir datos personales, así como revocar la autorización puede
    ejercerlos a través del correo electrónico protecciondatos@compass-group.com.co y de acuerdo con el procedimiento
    establecido en la política de tratamiento de datos personales disponible en www.compass-group.com.co.
  </p>
</ion-content>

<ion-footer>
  <button ion-button full color="primary" (click)="dismiss()">Aceptar</button>
</ion-footer>
