create-action {
	background: white;

	.toolbar {
		&-background {
			background: #bea04b;
		}
    &-title {
      padding-left: 0;
    }
	}
  .toolbar-title {
    padding-left: 0;
  }
	.bar-buttons .button-inner {
    color: white;
		font-size: 18px;
		margin-left: 10px
	}
	ion-input, ion-textarea {
		padding: 4px 10px;
		border-radius: 9px;
  	background: #f7f7e4;
	}
	ion-item {
		margin: 20px 0 !important;
		border: 0 !important;
		box-shadow: none !important;
		padding: 0 !important;
		.item-inner {
			border: 0 !important;
			box-shadow: none !important;
			padding: 0 !important;
		}
	}
	.item-range ion-range {
		width: 90%;
		padding-top: 0 !important;
	}
	form {
		padding: 0 15px;
	}
	.date {
		.input-wrapper {
			padding: 10px 10px;
			border-radius: 9px;
			background: #f7f7e4;
		}
	}
	.input-wrapper {
		flex-direction: column;
		.label {
			margin: 0 0 10px;
		}
		.datetime {
			padding: 12px 12px 0;
		}
	}
	.labels {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 !important;
		position: absolute;
		bottom: 0;
		font-size: 14px;
		font-weight: 500;
	}
	.autocomplete {
		list-style: none;
		min-height: 50px;
		max-height: 175px;
		overflow: auto;
		width: 95%;
		margin: 0 auto;
		background: #f7f7e4;
		border-radius: 2px;
		padding: 0;
		li {
			margin-bottom: 1px;
			border-radius: 5px;
			padding: 0 8px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			border: 1px solid #eaeaea;
			height: 50px;;
			&:hover, &:active, &:focus {
				background: #bea04b;
				color: white;
			}
		}
	}
	.footer {
		text-align: center;
		button {
			width: 98%;
			margin: 0 auto;
			padding: 0;
			margin-bottom: 6px;
		}
	}
}



