<ion-header>
  <ion-toolbar>
    <ion-title>Acción</ion-title>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formAction" (ngSubmit)="saveChanges()">
    <ion-list no-lines>
      <input formControlName="item_code" style="display:none;">
      <!-- <input formControlName="assigned_user_id" style="display:none;"> -->
      <ion-item>
        <ion-label class="inspections__label">Descripción</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-label class="inspections__label">Fecha terminación</ion-label>
      <ion-item class="date">
        <ion-datetime displayFormat="DD/MM/YYYY" initialValue="dateSelectActual" min="{{minDateAction}}" max="2030"
          formControlName="date_time_end"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="inspections__label">Prioridad</ion-label>
        <ion-range min="1" max="4" step="1" snaps="true" pin="true" formControlName="priority" name="priority">
          <!-- <ion-label class="label__left" range-left>Baja</ion-label>
            <ion-label class="label__right" range-right>Alta</ion-label> -->
        </ion-range>
        <ion-label class="labels">
          <span>Baja</span>
          <span>Media</span>
          <span>Alta</span>
          <span>Critica</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="inspections__label">Responsable</ion-label>
        <ion-input formControlName="assigned" [(ngModel)]="searchText" name="assigned"></ion-input>
      </ion-item>
      <ul class="autocomplete" *ngIf="users && (userSelected !== null) && selectedUser">
        <li *ngFor="let user of users | filterList: searchText:'users'" (click)="selectResponsable(user)">
          <p>{{user.name}}</p>
          <small>{{user.username}}</small>
        </li>
        <li *ngIf="users?.length < 1">
          <p>
            no existen coincidencias
          </p>
        </li>
      </ul>
    </ion-list>
    <ion-footer>
      <button ion-button color="primary" type="submit">Guardar acción</button>
    </ion-footer>
  </form>
</ion-content>