inspection-template {
	button {
		&.save, &.finish {
			width: 95% !important;
			margin-left: auto !important;
			margin-right: auto !important;
			border-radius: 10px;
			height: 40px;
		}
	}
	.save {
		background: #4D394B;
		margin-bottom: 30px;
	}
	.finish {
		margin-top: 25px;
		margin-bottom: 20px;
	}
	form {
		padding-top: 100px;
	}
}
