page-form {

	.ion-md-arrow-back:before {
		content: "\f2c0";
	}
	h6.title {
		text-align: center;
		padding-top: 18px;
		margin-bottom: 10px;
	}
	ion-input, ion-textarea {
		border-radius: 9px;
  	padding: 4px 10px;
  	background: #f7f7e4;
	}
}
.alert-md .alert-wrapper {
	max-width: 300px;
}
