<ion-header>
  <ion-toolbar>
    <ion-buttons class="left" left>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Lista acciones</ion-title>
    <ion-buttons right>
      <button class="list" ion-button (click)="createAction()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let action of actions">
    <inspection-action [action]="action"></inspection-action>
  </div>
</ion-content>

<ion-footer>
</ion-footer>
