modal-list-acions {
	.toolbar {
		.bar-buttons .button-inner {
			font-size: 18px;
			margin-left: 10px
		}
		button.list {
			text-align: center;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: center;
			width: 38px;
			height: 45px;
      margin-right: 12px;
      text-align: right;
      .button-inner {
				margin: 0;
			}
			ion-icon {
				color: #bea04b;
				font-size: 20px;
			}
		}
	}
}
